.create-task-container {
    display: flex;
    justify-content: center;
    top: 7.5vh;
    width: 100%;
    min-height: 92.5vh;
    background: #e8f8ff;
}


mat-card {
    width: 90%;
    height: 100%;
}

.create-task-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    width: 100%;
    text-align: center;
}

section {
    width: 100%;
}

:host ::ng-deep {
    mat-form-field {
        width: 100%;
    }
}