.registration-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.registration-card {
	width: 340px;
	padding: 2.5rem;    
}

.registration-card-header {
	justify-content: center;
	margin-bottom: 40px;
}

.submit-button {
	width: 100%;
	height: 50px;
	display: flex;
	margin: 10px auto auto;
	font-size: 15px;
}

::-ms-reveal {
	display: none;
}

.align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

:host ::ng-deep .registration-form-field {
	width: 100%;
	margin-bottom: 10px;
	font-size: 15px;
}

mat-card-footer {
    text-align: center;
    .clickable {
        color: #4054b4;
    }
    .clickable:hover {
        text-decoration: underline;
        cursor: pointer
    }
}