:host {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 3.5rem;
}

.sidenav-center {
	display: flex;
	align-items: center;
	padding-left: 1rem;
}

.mat-sidenav-container {
	flex: 1 1 auto;
}

.mat-nav-list-caption {
	text-transform: uppercase;
}

.mat-nav-list-icon {
	margin-right: 0.5rem;
	color: rgba(0, 0, 0, 0.87);
}

.hidden-text {
	margin-left: 0.75rem;
}

.active-route {
	width: calc(100% - 1rem);
	margin: 0.5rem;
	border-radius: 0.25rem;
	background: #545556;
	div {
		transform: translateX(-0.5rem);
		color: white;
	}
	mat-icon {
		color: white;
		background: #545556;
		border-radius: 0.25rem;
	}
}

mat-nav-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bg {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -50%;
    right: -50%;
    opacity: 0.5;
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #4054b4 50%, lightblue 50%);
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}