<div class="trash-bin-container">
    <table class="mb-3">
        <tr class="header py-2">
            <th>{{ 'TASK.TITLE' | translate }}</th>
            <th>{{ 'TASK.DESCRIPTION' | translate }}</th>
            <th>{{ 'PROJECT.ACTIONS' | translate }}</th>
        </tr>
        <div class="content">
            <tr *ngFor="let task of taskList">
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>
                    <div>
                        <button mat-fab color="primary" (click)="restore(task.uid)">
                            <mat-icon>undo</mat-icon>
                        </button>
                        <button mat-fab color="warn" (click)="delete(task.uid)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </div>
    </table>
    <div class="clear">
        <button color="warn" mat-raised-button (click)="clear()" [disabled]="disableClear()">
            {{ 'APP.CLEAR' | translate }}
            <mat-icon>delete_forever</mat-icon>
        </button>
    </div>
</div>