.trash-bin-container {
    width: 100%;
    min-height: 92.5vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e8f8ff;
}

mat-card {
    width: 90%;
    max-height: 75vh;
}

.content {
    width: 100%;
    overflow-x: scroll;
    border: 1px solid black;
}

table {
    width: 100%;
    font-size: medium;

    .sticky-header {
        position: sticky; 
        top: 0;
        z-index: 2;
        th {
            // border: 1px solid #ddd;
        }
    }
    
    .sticky-content {
        max-height: 50vh;
        overflow-y: hidden;
    }

    tr {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        border-top: 1px solid black;
        border-top: 0;
    }
    td, th {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 250px;
    }
    th {
        background-color: black;
        color: white;
    }
    tr:nth-child(odd) {
        background-color: lightgray;
    }

    button {
        scale: 0.75;
    }
}

.header {
    background-color: black !important;
}

.clear {
    display: flex;
    justify-content: flex-end;
    gap: 1%;
    width: 100%;
}