@import 'bootstrap';

.loading-container {
    top: 7.5vh;
    min-height: 92.5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information {
    font-size: large;
}

mat-progress-bar {
    width: 75vw;
    height: 3rem;
    transform: scaleY(3);
    transform-origin: center;
}

.stats-container {
    top: 7.5vh;
    min-height: 92.5vh;
    width: 100%;
    background: #e8f8ff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem 0;
}

.stats-row {
    display: flex;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}

.stats-module {
    position: relative;
    width: 90%;
    background-color: white;
    padding: 2rem;
    overflow-x: hidden;
}

.regenerate {
    position: absolute;
    right: 2.75rem;
}

.regenerate-all {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 5%;  
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background: #e8f8ff;
    border-radius: 5px;
}

.label {
    display: flex;
    white-space: nowrap;
}

.user-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: lightblue;
    div {
        text-align: center;
        border: 1px dashed lightcyan;
    }
}

.stat-item {
    border: 1px dashed lightblue;
}

h2 {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
}

@media (max-width: 576px) {
    h2 {
        width: 75%;
    }
}