@import 'bootstrap';

.loading-container {
    top: 7.5vh;
    min-height: 92.5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information {
    font-size: large;
}

mat-progress-bar {
    width: 75vw;
    height: 3rem;
    transform: scaleY(3);
    transform-origin: center;
}

.stats-container {
    top: 7.5vh;
    min-height: 92.5vh;
    width: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem 0;
}

.stats-row {
    display: flex;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}

.stats-module {
    height: 40vh;
    width: 40%;
    background-color: white;
    padding: 2rem;
    overflow-y: scroll;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    display: flex;
    white-space: nowrap;
}