<div class="stats-container" *ngIf="loaded()">
    <div class="stats-row">
        <div class="stats-module">
            <h2 class="pb-4">Personal Stats</h2>
            <div class="row">
                <div *ngFor="let stat of statLabels" class="col w-100 stat">
                    <mat-icon>
                        {{ icons[stat] }}
                    </mat-icon>
                    <p class="label">{{ stat + ': ' + data.personalStats[stat] }}</p>
                </div>
            </div>
        </div>
        <div class="stats-module">
            
        </div>
    </div>
    <div class="stats-row">
        <div class="stats-module">
            
        </div>
        <div class="stats-module">
            
        </div>
    </div>
    <div class="stats-row">
        <div class="stats-module">

        </div>
        <div class="stats-module">
            
        </div>
    </div>
    <div class="stats-row">
        <div class="stats-module">
            
        </div>
        <div class="stats-module">
            
        </div>
    </div>
</div>
<div class="loading-container" *ngIf="!loaded()">
    <p class="information">{{ 'STATS.LOADING.' + information | translate }}...</p>
    <mat-progress-bar [mode]="mode" [value]="loading"></mat-progress-bar>
</div>