<div class="stats-container" *ngIf="loaded()">
    <div class="row">
        <div class="stats-module">
            <h2>Personal Stats</h2>
            <div *ngFor="let stat of statLabels">
                <mat-icon>
                    {{ icons[stat] }}
                </mat-icon>
                <p>{{ data.personalStats[stat] }}</p>
            </div>
        </div>
        <div class="stats-module">
            
        </div>
    </div>
    <div class="row">
        <div class="stats-module">
            
        </div>
        <div class="stats-module">
            
        </div>
    </div>
    <div class="row">
        <div class="stats-module">

        </div>
        <div class="stats-module">
            
        </div>
    </div>
    <div class="row">
        <div class="stats-module">
            
        </div>
        <div class="stats-module">
            
        </div>
    </div>
</div>
<div class="loading-container" *ngIf="!loaded()">
    <p class="information">{{ 'STATS.LOADING.' + information | translate }}...</p>
    <mat-progress-bar [mode]="mode" [value]="loading"></mat-progress-bar>
</div>