.notifications-feed-container {
	padding: 1rem;
}

mat-dialog-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
    width: 75vw;

    table {
        width: 100%;
        border-collapse: collapse;
    }

    .sticky-header {
        position: sticky; 
        top: 0;
        z-index: 2;

        th {
            border: 1px solid #ddd;
        }
    }

    .content {
        max-height: 50vh;
        overflow-y: scroll;
    }

    tr {
        width: 100%;
    }
      
    th, td {
        text-align: center;
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    td {
        z-index: 1;
    }
      
    th {
        background-color: black;
        color: white;
        border: 1px solid black;
    }

    .new {
        border: 2px solid lightskyblue;
        background-color: #e8f8ff;;
        cursor: pointer;
    }
}

.header {
	text-align: center;
	font-size: 2rem;
}

.actions {
	justify-content: center;
    
	& > button {
		padding-block: 1rem;
	}
}