<div class="notifications-feed-container" mat-dialog-container>
  <h1 class="header" mat-dialog-title>{{ "NOTIFICATIONS.FEED" | translate }}</h1>
  <mat-dialog-content class="mat-typography">
    <table>
      <thead class="sticky-header">
        <tr>
          <th>{{ "NOTIFICATIONS.TYPE" | translate }}</th>
          <th>{{ "NOTIFICATIONS.TIMESTAMP" | translate }}</th>
          <th>{{ "NOTIFICATIONS.MESSAGE" | translate }}</th>
          <th>{{ "APP.REMOVE" | translate }}</th>
        </tr>
      </thead>
      <tbody class="content">
        <tr *ngFor="let notification of notifications; index as i" [ngClass]="isNew(notification.seen)" (click)="seen(i, notification.uid)">
          <td>
            <mat-icon>{{ notification.icon }}</mat-icon>
          </td>
          <td>{{ notification.timestamp | date: "YYYY-MM-dd HH:mm:ss" }}</td>
          <td>{{ encryptMessage(notification.message, notification.data) }}</td>
          <td>
            <button mat-mini-fab color="warn" (click)="remove(i, notification.uid)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-dialog-content>
</div>
