<div class="kanban-container pt-4">
    <div class="board mb-4">
        <div class="column" *ngFor="let state of taskList">
            <div class="state" style="--color:  {{ getColor(state.state) }}">
                {{ 'TASK_STATE.' + state.state | translate }}
            </div>
            <div cdkDropList class="tasks" [id]="state.state" [cdkDropListConnectedTo]="stateList" [cdkDropListData]="state.tasks" (cdkDropListDropped)="drop($event)">
                <div cdkDrag class="task mt-3" *ngFor="let task of state.tasks">
                    <div [id]="task.uid">
                        {{ task.title }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button mat-raised-button (click)="json()">
            JSON
            <mat-icon>download</mat-icon>
        </button>
        <button mat-raised-button (click)="xml()">
            XML
            <mat-icon>download</mat-icon>
        </button>
        <button mat-raised-button (click)="yaml()">
            YAML
            <mat-icon>download</mat-icon>
        </button>
    </div>
</div>