.project-settings-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background: #e8f8ff;
}

mat-card {
    width: 90%;
}

.content {
    width: 100%;
    overflow-x: scroll;
}

table {
    width: 100%;
    font-size: medium;
    tr {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        border: 1px solid black;
        border-top: 0;
    }
    td, th {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 175px;
    }
    th {
        background-color: black;
        color: white;
    }
    tr:nth-child(odd) {
        background-color: lightgray;
    }
    button {
        scale: 0.75;
    }    
}

.header {
    background-color: black !important;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-size: medium;
    }
    
    .invite {
        display: flex;
        gap: 1rem;
    }

    & > button {
		padding-block: 1rem;
	}
}

@media (max-width: 576px) {
    .actions {
        flex-direction: column;
        align-items: flex-start;
    }

    form {
        width: 100%;
    }
}