.create-project-container {
	padding: 1rem;
}

mat-dialog-content {
	display: flex;
	justify-content: center;
}

.header {
	text-align: center;
	font-size: 2rem;
}

.actions {
	justify-content: center;
	& > button {
		padding-block: 1rem;
	}
}
