.user-settings-component {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background: #e8f8ff;
}

mat-card {
    height: 90%;
    width: 75%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2.5%;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.center {
    align-items: center;
}

:host ::ng-deep .user-settings-form-field {
	width: 90%;
	font-size: 15px;
}

.submit-button {
    background-color: aquamarine;
}

.file-input {
    width: 90%;
    border: 1px dashed darkgrey;
    border-radius: 5px;
    cursor: pointer;
}

.file-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5%;
    img {
        max-height: 7.5rem;
        width: auto;
    }
}

.delete {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 576px) {
    mat-card {
        width: 100%;
    }
}